.nav {
	position: sticky;
	z-index: 1000;
	padding: 0.6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: bold;
	border-radius: 15px;
	width: 90%;
	max-width: 1100px;
	top: 10px;
	left: 0;
	right: 0;
	margin-inline: auto;
	margin-bottom: 1.5rem;
	overflow: hidden;
	height: 100%;
	max-height: 60px;
	background: $dark-color;
	border: 2px solid rgba(0, 0, 0, 0.05);
	color: #ffffff;
	box-shadow: $box-shadow-general;

	@media screen and (min-width: 700px) {
		flex-direction: row;
		max-height: 70px;
	}
}

.nav-icon-wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	text-wrap: nowrap;
}
.nav-icon {
	width: 100%;
	max-width: 40px;
	filter: invert(1);

	@media screen and (min-width: 700px) {
		max-width: 50px;
	}
}
.nav-title {
	font-size: 1.8rem;
	font-family: "Alice";
	letter-spacing: 1.1px;
}

.nav-icon-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.5rem;
	margin-top: 1rem;

	@media screen and (min-width: 700px) {
		margin-top: 0;
		flex-direction: row;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 0.9rem;
	}
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Barlow";
	font-weight: 400;

	@media screen and (min-width: 700px) {
		padding: 0.5rem 1rem;
		display: flex;
		gap: 10px;
	}
}

.toggle-btn {
	background: none;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: space-around;
	width: 35px;
	height: 30px;
	padding: 5px;

	@media screen and (min-width: 700px) {
		display: none;
	}

	.bar {
		height: 3px;
		width: 100%;
		background-color: #ffffff;
		border-radius: 2px;
		transition: transform 0.4s ease, opacity 0.2s ease;
	}
}

.toggle-btn.toggled .bar:first-child {
	transform: rotate(45deg) translate(5px, 5px);
}
.toggle-btn.toggled .bar:last-child {
	transform: rotate(-45deg) translate(5px, -5px);
}
.toggle-btn.toggled .bar:nth-child(2) {
	opacity: 0;
}

/* Bottom panel */
.bottom-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $dark-color;
	transform: translateY(100%);
	transition: transform 0.5s ease;
	z-index: 999;
	border-top-left-radius: $border-radius-general;
	border-top-right-radius: $border-radius-general;
	box-shadow: $box-shadow-general;
}

.bottom-panel-links {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	font-size: 1.5rem;
	color: #ffffff;
}
.panel-link {
	padding: 0.5rem 1rem;
	border-radius: 100vh;
	text-transform: uppercase;
}
