/* NAVBAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #ffffff;
	border-bottom: 1px solid #e6e6e6;

	.navbar__logo {
		font-size: 1.6rem;
		font-family: "Shrikhand", serif;
	}

	.navbar__links {
		display: flex;
		gap: 1.5rem;

		a {
			font-weight: 700;
			transition: opacity 0.2s ease;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}

/* RESPONSIVE NAVBAR */
@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		gap: 0.7rem;
	}
}
